
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #000000;
    border-radius: 2px;
}

.card-img-overlay{
    left: 10%;
    top: 70% !important;
    transform: translateY(-30%);
    text-align: left;
    bottom: initial;
    text-align: left ;
}

.text{
    left: 10%;
    top: 50% !important;
    transform: translateY(-30%);
    text-align: left;
    bottom: initial;
}

.text h2 {  
    margin: 0px ;
    padding: 0px ;
    text-align: left ;
    font-size: 36px;
}

#banner_privacy{
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0)5%, rgba(0, 0, 0, 0.73) 90%),
    url('https://blog.kingland.com/hubfs/Business-Relationships_Insurance-Blog-Hero-1.png');
    background-size: cover;
    width: 100%;
    height: 600px;
    color: white;
    background-position: center;
}

 
footer{
    background-color: #ebebeb;
    height: 200px;
    border-radius: 8px;
}