body{
    background-image: url('img/bekgron_index.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #000000;
    border-radius: 2px;
}
  
.card:hover {
    transform: scale(1.02);
}
 
footer{
    background-color: #ffffff;
    border-radius: 8px;
}

#date_icon{
    padding-left: 20px;
}
