
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #000000;
}

.card-img-overlay{
    left: 5%;
    top: 70% !important;
    transform: translateY(-30%);
    text-align: left;
    bottom: initial;
    text-align: left ;
}

.text{
    left: 10%;
    top: 50% !important;
    transform: translateY(-30%);
    text-align: left;
    bottom: initial;
}

.text h2 {  
    margin: 0px ;
    padding: 0px ;
    text-align: left ;
    font-size: 36px;
}

#banner_contact{
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0)5%, rgba(0, 0, 0, 0.73) 90%),
    url('https://images.theconversation.com/files/203804/original/file-20180129-41446-1tb0v68.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1356&h=668&fit=crop');
    background-size: cover;
    width: 100%;
    height: 600px;
    color: white;
    background-position: top;
}

 
footer{
    background-color: #ebebeb;
    height: 200px;
    border-radius: 8px;
}